
@{
    ViewBag.CurrentTab = "#expertise";
    ViewBag.Title = "Expertise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="inner-content expertise">
    <div class="expertise-title col-lg-12">
        <h2>Expertise</h2>
        <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
        <hr />
    </div>
    <div class="items col-lg-12">
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/web.png" alt="web"/>
            <h3>WEB DESIGN & DEVELOPMENT</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/brushes.png" alt="brushes" />
            <h3>BRANDING IDENTITY</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/phone.png" alt="phone" />
            <h3>MOBILE APP</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <hr class="col-lg-12"/>
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/diagram.png" alt="diagram" />
            <h3>SEARCH ENGINE OPTIMIZATION</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/calc.png" alt="calc" />
            <h3>GAME DEVELOPMENT</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
        <div class="col-lg-4">
            <img src="~/Content/Images/Expertise/heart.png" alt="heart" />
            <h3>MADE WITH LOVE</h3>
            <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet Aenean.</p>
        </div>
    </div>
</div>