
@{
    ViewBag.CurrentTab = "#teams";
    ViewBag.Title = "Teams";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="team">
    <div class="layer">
        <div class="inner-content">
            <div class="main-title">
                <h2>MEET OUR AMAZING TEAM</h2>
                <p>Lorem ipsum dolor sit amet proin gravida nibh vel velit</p>
                <hr />
            </div>
            <div class="items">
                <div class="col-lg-3">
                    <img src="~/Content/Images/team-item.png" />
                    <div>
                        <h3>SEMF UCUK</h3>
                        <p>CEO & FOUNDER</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="~/Content/Images/team-item.png" />
                    <div>
                        <h3>DIK ADALIN</h3>
                        <p>ENGINEERING</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="~/Content/Images/team-item.png" />
                    <div>
                        <h3>JENG KOL</h3>
                        <p>DESIGNER</p>
                    </div>
                </div>
                <div class="col-lg-3">
                    <img src="~/Content/Images/team-item.png" />
                    <div>
                        <h3>PET ROMAK</h3>
                        <p>MARKETING</p>
                    </div>
                </div>
            </div>
            <div class="team-bottom col-lg-12">
                <p>Become part of our dream team, let’s join us ! </p>
                <button class="learn-more-btn">
                    WE ARE HIRING
                </button>
            </div>        
        </div>
    </div>
</div>