
@{
    ViewBag.CurrentTab = "#works";
    ViewBag.Title = "Works";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="works">
    <div class="inner-content">
        <div class="top-content">
            <div class="col-lg-12">
                <h2 class="col-lg-9 left">OUR WORKS</h2>
                <a class="col-lg-3 right" href="#">See All Oriject in dribbble <i class="fa fa-angle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="middle-content"></div>
    <div class="bottom-content inner-content">
        <button class="learn-more-btn">
            LOAD MORE
        </button>
    </div>
</div>